.App {
  margin:auto;
  text-align: center;
  width: 350px;
  border: 0px black solid;
  box-shadow:  5px 5px 5px 5px rgb(141, 139, 139); 
  padding:30px;
 margin-top:20px ;
  
  
}
h4{
  text-align: left;
  font-weight:normal;
}







